html {
  font-size: 14px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../ico/icomoon.eot?tm55uh');
  src:  url('../ico/icomoon.eot?tm55uh#iefix') format('embedded-opentype'),
  url('../ico/icomoon.ttf?tm55uh') format('truetype'),
  url('../ico/icomoon.woff?tm55uh') format('woff'),
  url('../ico/icomoon.svg?tm55uh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings_remote:before {
  content: "\e900";
}
.icon-switchoff:before {
  content: "\e901";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}



body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 50px;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  font-smoothing: antialiased;
}

.center{
  text-align: center;
}

.row{
  padding: 0.5rem;
}

.btn{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0.25rem 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.btn-blue{
  background-color: #2185d0;
}

.btn-blue:hover{
  background-color: #1678c2;
}

.btn-green{
  background-color: #21ba45;
}

.btn-green:hover{
  background-color: #16ab39;
}

.btn-red{
  background-color: #db2828;
}

.btn-red:hover{
  background-color: #d01919;
}