extends layout

block content

  section(class='center')

    div(class='row')

      button(type='button' class='btn btn-red' data-cmd='OFF')
        span(class="icon-switchoff")

      button(type='button' class='btn btn-blue' data-cmd='ON')
        span(class="icon-switch")

    div(class='row')

      button(type='button' class='btn btn-green' data-cmd='AUX' data-mode='repeat') AUX
      button(type='button' class='btn btn-green' data-cmd='CD' data-mode='repeat') CD
      button(type='button' class='btn btn-green' data-cmd='TUNER' data-mode='repeat') TUNER
      button(type='button' class='btn btn-green' data-cmd='DISC' data-mode='repeat') DISC
      //- button(type='button' class='btn btn-green' data-cmd='TAPE_MON' data-mode='repeat') TAPE_MON
      //- button(type='button' class='btn btn-green' data-cmd='TAPE2' data-mode='repeat') TAPE2
      button(type='button' class='btn btn-green' data-cmd='VIDEO1' data-mode='repeat') VIDEO

    div(class='row')

      button(type='button' class='btn btn-red' data-cmd='MUTE')
        span(class="icon-volume-mute")

      button(type='button' class='btn btn-blue' data-cmd='VOLUME_DOWN' data-mode='repeat')
        span(class="icon-volume-decrease")

      button(type='button' class='btn btn-blue' data-cmd='VOLUME_UP' data-mode='repeat')
        span(class="icon-volume-increase")
